body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    width:100%;
    height:100%;
    position: absolute;
}
.title{
    position: absolute;
    color: black;
    z-index: 100;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    top: 50px;
    left: 100px;
}
.search-container{
        position: absolute;
        z-index: 100;
        top: 115px;
        left: 100px;
        width: 250px;
        height: 60px;
        background-color: #456;
        border-radius: 30px;
        display:flex;
        padding-left: 60px;
        padding-right:25px;
}
.search{
    display:flex;
    flex-grow: 1;
    align-items: center;
}
.zip-code{
    width: 100%;
    background-color: transparent;
    border:none;
    font-size: 25px;
    color:white;

}
.zip-code:focus{
    outline: none;
}
.search i{
    color:white;
    font-size: 25px;
}
.stores-list-container{
    width: 330px;
    height: 600px;
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 190px;
    left: 100px;
    bottom: 30px;
    background-color: white;

}
.store-address{
        height: 90px;
        font-size: 25px;
        display: flex;
        align-content: center;
        padding-left: 30px;
        padding-right: 20px;
        align-items: center;
        color: #456;
        padding-top: 25px;
        border-radius: 30px;
}
.phone-no{
     font-size: 17px;
    margin-left: 100px;
    color: #456;
    font-weight: 700;
}   
.store-address span{ 
    display: contents;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
}
.number{
    background-color: rebeccapurple;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    margin-right: 35px;
     }
.store-container{
    display:flex;
}