body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    width:100%;
    height:100%;
    position: absolute;
}
.title{
    position: absolute;
    z-index: 100;
    font-size: 88px;
    text-transform: uppercase;
    font-weight: bold;
    top: 50px;
    left: 100px;
}
.search-container{
        position: absolute;
        z-index: 100;
        top: 150px;
        left: 100px;
        width: 400px;
        height: 60px;
        background-color: #456;
        border-radius: 30px;
        display:flex;
        padding-left: 60px;
        padding-right:25px;
}
.search{
    display:flex;
    flex-grow: 1;
    align-items: center;
}
.zip-code{
    width: 100%;
    background-color: transparent;
    border:none;
    font-size: 25px;
    color:white;

}
.zip-code:focus{
    outline: none;
}
.search i{
    color:white;
    font-size: 25px;
}
.stores-list-container{
    width:450px;
    height:600px;
    border-radius: 30px;
    position: absolute;
    z-index:100;
    top:250px;
    left:100px;
    bottom: 30px;
    background-color:white;

}
.store-address{
        height: 90px;
        font-size: 25px;
        display: flex;
        align-content: center;
        padding-left: 30px;
        padding-right: 20px;
        align-items: center;
        color: #456;
        padding-top: 25px;
        border-radius: 30px;
}
.phone-no{
 

        height: 50px;
        font-size: 25px;
        display: flex;
        align-content: center;
        padding-left: 30px;
        padding-right: 20px;
        align-items: center;
        color: #456;
        margin-top: 5px;
}   
.store-address span{ 
    display:block;
}
     .number{
         
         background-color: #000;
         color:white;
         width:30px;
         height:30px;
         border-radius: 50%;
         text-align:center;
         justify-content: center;
        align-items: center;
     }
.store-container{
    display:flex;
}